/*
 * alademann.github.com styles
 */

// Core constants
@import "compass";
@import "../externals/sass-bootstrap/sass/_variables.scss";
@import "../externals/sass-bootstrap/sass/_mixins.scss";

// VARIABLES

$jumboBgColor:          $gray;
$repoPad:               $gridGutterWidth / 2;
$earSize:               $repoPad*2;
$repoTypeColor:         #0080b0; // default repo ear color
$repoTypeColorJS:       #333;
$repoTypeColorScala:    #7ac9de;
$repoTypeColorRuby:     #cc1100;
$repoTypeColorJava:     #cc8300;
$repoTypeColorPython:   #6aad2d;

//----------------------------------

/* Key scaffolding
-------------------------------------------------- */
@import "_grid.scss";

body {
  padding-top: $navbarHeight;
  position: relative;
  // We add the padding to the body for >768px only
}

footer {
  padding-left:  15px;
  padding-right: 15px;
}


/* Jumbotrons
-------------------------------------------------- */

/* Base class */
.docs-jumbotron {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 15px;
  color: #fff;
  text-align: center;
  background-color: $jumboBgColor;
}
.docs-jumbotron h1 {
  font-size: 50px;
}

/* Link styles (used on .masthead-links as well) */
.docs-jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.docs-jumbotron a:hover {
  color: #fff;
}

/* Download button */
.docs-jumbotron .btn {
  padding: 18px 24px;
  font-size: 21px;
}
.docs-jumbotron .btn,
.docs-jumbotron .btn:hover,
.docs-jumbotron .btn:active {
  color: $jumboBgColor;
  background-color: #fff;
  border-color: #fff;
}

/* Masthead (docs home)
------------------------- */
.masthead h1 {
  line-height: 1;
}

/* Textual links in masthead */
.masthead-links {
  margin: 20px 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}


/* Footer
-------------------------------------------------- */

.docs-footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 100px;

  &, .attrib {
    border-top: 1px solid #e5e5e5;
  }

  .attrib {
    margin-top: 30px;
    padding-top: 15px;
  }

}
.docs-footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}


.repo {
  margin-bottom: 20px;
  height: 250px;
  // padding: 0 15px 15px 0;
  margin: 0 0 $repoPad 0;
  
  &:last-child { padding-right: 0; }

  h3, 
  h4, 
  p {
    margin: 10px 15px;
  }

  // repo name
  h3 {
    font-size: 18px;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // repo type / description
  h4, p {
    font-size: 11px;
  }

  // repo type
  h4 {
    margin-top: 2px;
    margin-bottom: 15px;
    color: #999;
  }

  > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    color: inherit;

    background: white;
    background: rgba(255, 255, 255, 0.7);
    @include box-shadow(0px 0px 5px 1px rgba(0,0,0,.1));

    &:hover {
      background: #efefef;
      background: rgba(0,0,0,.05);
    }

  }

  &:after {
    content: '';
    position: absolute;
    right: $repoPad;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: $earSize solid transparent;
    border-left: $earSize solid transparent;
    border-right: $earSize solid $repoTypeColor;
    pointer-events: none;
  }

  &.javascript:after  { border-right-color: $repoTypeColorJS; }
  &.scala:after       { border-right-color: $repoTypeColorScala; }
  &.ruby:after        { border-right-color: $repoTypeColorRuby; }
  &.java:after        { border-right-color: $repoTypeColorJava; }
  &.python:after      { border-right-color: $repoTypeColorPython; }

} // END li.repo


#num-repos, 
#num-followers {
  font-size: 14px;
  font-weight: bold;
  color: #0084b4;
  line-height: 15px;
}

#repos {
  list-style: none;
  margin: 0;
  padding: 0;
}

#statistics {
  a {
    &:link, 
    &:visited {
      color: inherit;
    }
  }
}

#recently-updated { 
  h1 a {
    font-weight: normal;
    font-size: 11px;
  }
}

#recently-updated-repos {
  margin-left: 15px;

  li {
    line-height: 1.5;

    span {
      display: inline-block;
      padding: 0 1px;
      font-size: 11px;

      &.name {
        padding: 0 6px 0 0;
        font-size: 13px;
      }

      &.time,
      &.watchers,
      &.forks {
        a {
          color: #999;
        }
      }

    }

  }

} // END #recently-updated-repos

@keyframes small-swing { 0% { margin-top: 0px } 50% { margin-top: -10px } 100% { margin-top: 0px } }
@-moz-keyframes small-swing { 0% { margin-top: 0px } 50% { margin-top: -10px } 100% { margin-top: 0px } }
@-webkit-keyframes small-swing { 0% { margin-top: 0px } 50% { margin-top: -10px } 100% { margin-top: 0px } }
@-ms-keyframes small-swing { 0% { margin-top: 0px } 50% { margin-top: -10px } 100% { margin-top: 0px } }

@keyframes medium-swing { 0% { margin-top: 0px } 50% { margin-top: -20px } 100% { margin-top: 0px } }
@-moz-keyframes medium-swing { 0% { margin-top: 0px } 50% { margin-top: -20px } 100% { margin-top: 0px } }
@-webkit-keyframes medium-swing { 0% { margin-top: 0px } 50% { margin-top: -20px } 100% { margin-top: 0px } }
@-ms-keyframes medium-swing { 0% { margin-top: 0px } 50% { margin-top: -20px } 100% { margin-top: 0px } }

@keyframes large-swing { 0% { margin-top: 0px } 50% { margin-top: -40px } 100% { margin-top: 0px } }
@-moz-keyframes large-swing { 0% { margin-top: 0px } 50% { margin-top: -40px } 100% { margin-top: 0px } }
@-webkit-keyframes large-swing { 0% { margin-top: 0px } 50% { margin-top: -40px } 100% { margin-top: 0px } }
@-ms-keyframes large-swing { 0% { margin-top: 0px } 50% { margin-top: -40px } 100% { margin-top: 0px } }

.larry {
  &.size-smaller, &.size-small {
    $animation: small-swing 0.5s infinite ease-in-out;
    @include experimental(animation, $animation);
  }
  &.size-medium, &.size-large {
    $animation: medium-swing 1.25s infinite ease-in-out;
    @include experimental(animation, $animation);
  }
  &.size-medium, &.size-fat {
    $animation: large-swing 1.5s infinite ease-in-out;
    @include experimental(animation, $animation);
  }
} // END .larry

#flyzone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}